<!-- views/applications/edit.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editing <%= product.name %></title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">
  
</head>
<body>
  <div class="container-fluid">
    <%- include('../partials/_navbar.ejs') %>
  <h1>Edit <%= product.name %></h1>
  <div class="h-100 d-flex align-items-center justify-content-center">

  
  <form action="/products/<%= product._id %>?_method=PUT" method="POST" >
    <div class="form-group">

        <label for="productName">Product Name</label>
        <input type="text" class="form-control" id="productName" name="name" value="<%= product.name %>">

    </div>
    <div class="form-row">
      <label for="productQuantity">Quantity</label>
      <input type="number" class="form-control" id="productQuantity" name="quantity" value="<%= product.quantity %>">
      <label for="productPrice">Price</label>
      <input type="text" class="form-control" id="productPrice" name="price" value="<%= product.price %>">
    </div>
    <p></p>
    <button type="submit" class="btn btn-primary">Update Product</button>
  </form>
</div>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src=/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>
</div>
</body>
</html>
